# Virtual environment
backend/venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database
*.sqlite3
*.db

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

ADHD/
ANXIETY/
College Presentation/
Learn Machine Learning/
Project_Abstract/
SereneSpace_Emotion Detection.zip
Serene Space.docx
Serene Space Notes.docx
~$rene Space Notes.docx